
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="logo_footer">
                    <img src="~/Assets/images/logo-huntu-style5-70.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="copyright">
                    <p>© Copyright 2018, Powered and Built by Themes Awesome</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="address">
                    <p>459 Broadway, Fifth Floor New York, NY 10013.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                @*<div class="icons">
                    @foreach (var item in Model._link)
    {
                <a href="@item.link1"><i class="@item.icon"></i></a>
}
                    
                </div>*@
            </div>
        </div>
    </div>
</section>
